<div class="card">
    <div class="profile-photo">
        <img src="../../assets/images/profile-photo.jpg" alt="profile-photo">
    </div>
    <div class="short-desc">
        <div class="about">
            <div class="title">Manprit Tiwari</div>
            <div class="time">1:56 PM</div>
        </div>
        <div class="desc">
            Hey There! I am on whatsapp.
        </div>
    </div>
</div>
<button mat-raised-button  class="floating-chat-icon">
    <mat-icon>chat</mat-icon>
</button>